@charset "utf-8";

/* >>>>>>>>>>>>>>> Tablet >>>>>>>>>>>>>>> */
@media (max-width: 768px){
    :root {
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --normal-font-size: .938rem;
        --small-font-size: .75rem;
        --normal-font-size: 1.5rem;
        --big-font-size: 2rem;
    }
/* ---------- layout ---------- */
    .inner {
        padding: 2rem 1rem;
    }
/* ---------- grid ---------- */
    .l_col_tablet_12_12 {
        width: 100%;
    }
    .l_col_tablet_11_12 {
        width: 91.66666667%;
    }
    .l_col_tablet_10_12 {
        width: 83.33333333%;
    }
    .l_col_tablet_9_12 {
        width: 75%;
    }
    .l_col_tablet_8_12 {
        width: 66.66666667%;
    }
    .l_col_tablet_7_12 {
        width: 58.33333333%;
    }
    .l_col_tablet_6_12 {
        width: 50%;
    }
    .l_col_tablet_5_12 {
        width: 41.66666667%;
    }
    .l_col_tablet_4_12 {
        width: 33.33333333%;
    }
    .l_col_tablet_3_12 {
        width: 25%;
    }
    .l_col_tablet_2_12 {
        width: 16.66666667%;
    }
    .l_col_tablet_1_12 {
        width: 8.33333333%;
    }    
/* ---------- intro ---------- */
    .intro__title {
        display: block;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -15%);
        width: 100%;
        text-align: center;
        font-size: 2rem;
        color: var(--white-color);
    }
    .intro__ment--box {
        top: 25%;
    }
    .intro__bg {
        display: none;
    }
    .intro__contents {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100vw;
        text-align: center;
        transform: translate(-50%, -50%);
    }
    .copyright {
        display: inline-block;
        font-size: var(--small-font-size);
        width: 300px;
        text-align: center;
    }
    /* ---------- header ---------- */
    .header {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #fff;
        box-shadow: 0 0 5px var(--gray-color);
        padding: 0 1rem;
        border: none;
        z-index: var(--z-fixed);
    }
    .header-inner {
        padding: 2rem 1rem;
    }
    #logo {
        padding-bottom: 0;
    }
    .nav__container {
        position: fixed;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        width: 100%;
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 0 5px rgba(0,0,0,.5);
        transition: .3s;
        border-radius: 1.5rem 1.5rem 0 0;
    }
    .nav__container.visible {
        transform: translateY(0);
        background: var(--white-color);
    }
    .nav__menu {
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .nav__item {
        width: 33.3333%;
        margin-right: 0;
        text-align: center;
        padding: 1rem;
        color: #000;
    }
    .nav__link {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav__icon {
        margin-left: 0;
        display: block;
    }
    #buttonLight {
        margin-right: 1rem;
    }
    #buttonDark {
        margin-right: 1rem;
    }
    .nav__close {
        display: block;
        position: absolute;
        right: 2rem;
        bottom: 2rem;
        font-size: 1.5rem;
        cursor: pointer;
    }
    #navToggle {
        display: block;
        cursor: pointer;
        font-size: 2rem;
    }
/* ---------- Home ---------- */
    .home__title {
        font-size: 3rem;
    }
    .home__intro {
        width: 90%;
    }
    .animation__line.left,
    .animation__line.right {
        width: 100%;
    }
    .animation__line.top,
    .animation__line.bottom {
        height: 100%;
    }
    .left {
        top: 0;
        right: 0;
    }
    .right {
        left: 0;
        bottom: 0;
    }
    .top {
        left: 0;
        bottom: 0;
    }
    .bottom {
        top: 0;
        right: 0;
    }
/* ---------- About ---------- */
    .about__frame {
        width: 100%;
    }
    .about .section__title--wrap {
        margin-top: 1rem;
    }
    .about .section__title {
        font-size: var(--normal-font-size);
    }
    .about__info--wrap {
        padding: 1rem;
    }
/* ---------- skills  ---------- */
    .skills:before {
        bottom: 50%;
        right: 15px;
    }
    .content h1 {
        font-size: var(--small-font-size);
    }
    .skills .section__title:before {
        width: 85px;
        height: 15px;
    }
/* ---------- portfolio graphic ---------- */
    .works__item h1 {
    font-size: var(--small-font-size);
    }
/* ---------- footer ---------- */
    .footer__logo {
        display: none;
    }
    .footer__copy {
        padding-bottom: 5rem;
    }
    .footer.inner {
       padding-top: 0;
    }
    .slick-prev {
        left: -1rem;
    }
    .slick-next {
        right: -1rem;
    }
}
/* >>>>>>>>>>>>>>> Mobile >>>>>>>>>>>>>>> */
@media (max-width: 480px){
/* ---------- grid ---------- */
    .l_col_mobile_12_12 {
        width: 100%;
    }
    .l_col_mobile_11_12 {
        width: 91.66666667%;
    }
    .l_col_mobile_10_12 {
        width: 83.33333333%;
    }
    .l_col_mobile_9_12 {
        width: 75%;
    }
    .l_col_mobile_8_12 {
        width: 66.66666667%;
    }
    .l_col_mobile_7_12 {
        width: 58.33333333%;
    }
    .l_col_mobile_6_12 {
        width: 50%;
    }
    .l_col_mobile_5_12 {
        width: 41.66666667%;
    }
    .l_col_mobile_4_12 {
        width: 33.33333333%;
    }
    .l_col_mobile_3_12 {
        width: 25%;
    }
    .l_col_mobile_2_12 {
        width: 16.66666667%;
    }
    .l_col_mobile_1_12 {
        width: 8.33333333%;
    }
/* ---------- intro ---------- */
    .intro__ment--box {
        top: 25%;
        left: 50%;
    }
/* ---------- home  ---------- */
    .home__intro {
        width: 90%;
    }
/* ---------- about  ---------- */
    .about__info--item {
        margin-bottom: .5rem;
    }
/* ---------- skills  ---------- */
    .skills .section__subtitle {
        font-size: var(--small-font-size);
    }
    .skills:before {
        bottom: 35%;
        right: 15px;
    }
/* ---------- portfolio graphic ---------- */
    .portfolio .section__subtitle {
        font-size: var(--small-font-size);
    }
    .works__content {
        flex-wrap: wrap;
        justify-content: center;
    }
    .works__item {
        margin-right: 2%;
        width: 46.5%;
        flex: auto;
        margin-bottom: 1rem;
    }
    .works__item h1 {
        font-size: var(--normal-font-size);
    }
    .slick-prev {
        left: -1rem;
    }
    .slick-next {
        right: -1rem;
    }
/* ---------- portfolio web ---------- */
    .slider__content {
        flex-direction: column;
        text-align: center;
    }
    .slick__button {
        align-self: center;
    }
/* ---------- Footer ---------- */
    .footer__copy {
        padding-bottom: 3rem;
    }
}
