@charset "utf-8";
@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
    /* -----basic colors ----- */
        --hue-color: 196;
        --primary-color: hsl(var(--hue-color), 69%, 46%);
        --white-color: #fff;
        --black-color: hsl(var(--hue-color), 8%, 15%);
        --body-color: hsl(var(--hue-color), 2%, 98%);
        /* ----- point colors ----- */ 
        --pink-color: #f8aca1;
        --yellow-color: #f8e273;
        --blue-color: #9bbce2;
        --green-color: #a1e4d1;
        --purple-color: #aaa5d2;
        --gray-color: hsl(var(--hue-color), 5%, 30%);
        --gray-color-light: hsl(var(--hue-color), 10%, 60%);
        
    /* ----- typography ----- */
        --body-font: 'Poppins', sans-serif;
        --point-font:'MapoFlowerIsland', 'Noto Sans KR', sans-serif;
        --big-font-size: 3rem;
        --small-font-size: .8rem;
        --normal-font-size: 1.5rem;
        --mediem-font-size: 2rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
    /* ----- font-weight ----- */
        --font-medium: 500;
        --font-semi-bold: 600;
    /* ----- margin bottom ----- */
        --mb-0-75: .75rem;
        --mb-1: 1rem;
        --mb-1-5: 1.5rem;
        --mb-2: 2rem;
        --mb-2-5: 2.5rem;
        --mb-3: 3rem;
        --mb-5: 5rem;
    /* ----- z index ----- */
        --z-tooltip: 10;
        --z-fixed: 100;
        --z-modal: 1000;
    }
    /* ----- dark-mode ----- */
    body.dark-mode {
        /* -> white */
        --primary-color:hsl(var(--hue-color), 8%, 95%);
        --white-color: hsl(var(--hue-color), 8%, 95%);
        --gray-color:hsl(var(--hue-color), 8%, 95%);
        --purple-color: hsl(var(--hue-color), 8%, 95%);
        --black-color: hsl(var(--hue-color), 8%, 95%); 
        /* -> black */
        --body-color: hsl(var(--hue-color), 28%, 12%);
    }
    /* ----- reusable, common css ----- */
    .section__title--wrap {
        margin-bottom: var(--mb-1-5);
        text-align: center;
    }
    .section__title {
        font-size: var(--h1-font-size);
    }
    .section__subtitle {
        color: var(--gray-color);
        font-size: var(--small-font-size);
    }
    .button {
        display: inline-block;
        padding: .5rem;
    }
    /* ----- layout ----- */
    .inner {
        min-width: 568px;
        max-width: 1200px;
        margin: 0 auto;
        padding: 2rem 0 4rem;
    }
    .flex {
        display: flex;
    }
    /* ----- grid ----- */
     .l_col_12_12 {
        width: 100%;
    }
    .l_col_11_12 {
        width: 91.66666667%;
    }
    .l_col_10_12 {
        width: 83.33333333%;
    }
    .l_col_9_12 {
        width: 75%;
    }
    .l_col_8_12 {
        width: 66.66666667%;
    }
    .l_col_7_12 {
        width: 58.33333333%;
    }
    .l_col_6_12 {
        width: 50%;
    }
    .l_col_5_12 {
        width: 41.66666667%;
    }
    .l_col_4_12 {
        width: 33.33333333%;
    }
    .l_col_3_12 {
        width: 25%;
    }
    .l_col_2_12 {
        width: 16.66666667%;
    }
    .l_col_1_12 {
        width: 8.33333333%;
    }

    /* ========================= 웹표준, 웹 접근성skip ========================= */
    #skip {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        transform: translateY(-100%);
        background: var(--black-color);
        color: var(--primary-color);
        z-index: 9999;
        text-align: center;
    }
    #skip:focus
    {
        transform: translateY(0);
    }
    
    /* ========================= 웹표준, 웹 접근성 ========================= */
    #notice {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.3);
        z-index: 9999;
    }
    .modal {
        padding: 2rem 1rem;
        width: 500px;
        height: 350px;
        border-radius: .5rem;
        background: #fff;
        position: relative;
    }
    .notice-modal__close {
        position: absolute;
        right: .5rem;
        top: .2rem;
        font-size: 2rem;
        cursor: pointer;
    }
    .notice__title {
        margin: 1rem 0 1rem 0
    }
    .logo__html5 {
        width: 50px;
        margin-right: 1rem;
    }
    .logo__css3 {
        width: 36px;
    }
    .logo__js {
        width: 83px;
        margin-right: -1rem;
    }
    .logo__jquery {
        width: 100px;
    }
    .logo__github {
        width: 60px;
    }
        /* ========================= intro ========================= */
    .intro__title {
        display: none;
    }
    .intro__container {
        position: relative;
        height: 100vh;
        background: #303a4c;
    }
    .intro__bg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100vw;
    }
    .intro__contents {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 25vw;
        text-align: center;
    }
    #intro__image {
        display: inline-block;
        width: 50%;
    }
    #intro__image img {
        filter: drop-shadow(10px 30px 10px #999);
    }
    #intro__image img:last-child {
        display: none;
    }
    #intro__image:hover img:first-child {
        display: none;
    }
    #intro__image:hover img:last-child {
        display: block;
    }
    .copyright {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        max-width: 568px;
        font-weight: bold;
        display: none;
    }
    /* ========================= header ========================= */
    .header {
        position: fixed;
        left: 0;
        width: 100%;
        padding-top: 1rem;
        z-index: var(--z-fixed);
        background: var(--body-color);
        border-bottom: 3px solid var(--white-color);
    }
    .header-inner {
        max-width: 1470px;
        height:3rem;
        margin: 0 auto;
        padding: 1rem 1rem;
        align-items: center;
        justify-content: space-between;
        color: var(--black-color);
    }
    #logo {
        display: flex;
        width: 50px;
        padding-bottom: 1rem;
    }
    .nav__container {
        margin-left: auto;
    }
    .nav__menu {
        justify-content: flex-end;
    }
    .nav__item {
        margin-right: var(--mb-1-5);
        color: var(--black-color);
        font-weight: var(--font-semi-bold);
    }
    .nav__item:hover,
    .nav__item.active
    {
        color: var(--blue-color);
    }
    .nav__btns {
        color: var(--black-color);
    }
    .nav__icon {
        display: none;
        font-size: var(--normal-font-size);
    }
    .change-theme {
        justify-content: center;
        align-items: center;
        font-size: var(--mediem-font-size);
        cursor: pointer;
    }
    .change-theme:hover {
        color: var(--yellow-color);
    }
    #buttonLight {
        display: none;
    }
    #buttonDark {
        display: block;
    }
    #navToggle {
        display: none;
    }
    .nav__close {
        display: none;
        color: var(--primary-color);
    }
    /* ========================= main ========================= */
    .home {
        position: relative;
        height: 100vh;
    }
    .home__intro {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50vw;
        height: 50%;
    }
    .home__desc {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .home__title {
        text-align: center;
        color: var(--black-color);
        font-size: var(--big-font-size);
    }
    .home__subtitle {
        text-align: right;
        color: var(--gray-color);
    }
    .animation__line.left,
    .animation__line.right {
        position: absolute;
        width: 75vw;
        height: 17px;
    }
    .animation__line.top,
    .animation__line.bottom {
        position: absolute;
        width: 17px;
        height: 75vh;
    }
    .left {
        top: -17px;
        right: -17px;
        animation: left 2.2s linear forwards;
        background: #f8aca1;
        box-shadow: 0 0 10px #f8aca1;
    }
    .right {
        left: -17px;
        bottom: -17px;
        animation: right 2.2s linear forwards;
        background: #98bde2;
        box-shadow: 0 0 10px #98bde2;
    }
    .top {
        left: -17px;
        bottom: 0;
        animation: top 2.2s linear forwards;
        background: #a1e4d1;
        box-shadow: 0 0 10px #a1e4d1;
    }
    .bottom {
        top: 0;
        right:-17px;
        animation: bottom 2.2s linear forwards;
        background: #f8e273;
        box-shadow: 0 0 10px #f8e273;
    }
    @keyframes left {
        0% {
            transform: translateX(-100%);
            opacity: 0;
        }
        50% {
            transform: translateX(-50%);
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes right {
        0% {
            transform: translateX(100%);
            opacity: 0;
        }
        50% {
            transform: translateX(50%);
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes top {
        0% {
            transform: translatey(-100%);
            opacity: 0;
        }
        50% {
            transform: translatey(-50%);
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes bottom {
        0% {
            transform: translatey(100%);
            opacity: 0;
        }
        50% {
            transform: translatey(50%);
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    /* ========================= about section ========================= */
    .about {
        color: var(--black-color);
    }
    .about.inner {
        padding-top: 2rem;
    }
    .about__container {
        height: 100vh;
        position: relative;
    }
    .about__frame {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 1rem;
        box-shadow: 0 0 15px var(--gray-color-light);
        overflow: hidden;
    }
    .about__frame:before {
        content: '';
        position: absolute;
        top: -6px;
        left: 50%;
        transform: translate(-50%);
        width: 300px;
        height: 50px;
        border-radius: 30px 30px 5px 5px;
        background: var(--purple-color);
    }
    .about .section__title--wrap {
        margin-bottom: 0;
        padding-top: 3rem;
    }
    .about .section__title {
        color: var(--purple-color);
    }
    .about__info--wrap {
        padding: .5rem 1rem;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    }
    .about__info--item {
        padding: .5rem 0;
        font-weight: 600;
    }
    .about__info--item:nth-child(1) {
        text-align: center;
        padding: 0;
    }
    .about__info--item .profile__img {
        width: 180px;
        height: 200px;
        border-radius: 110px;
        border: 5px inset var(--purple-color);
    }
    .info__title {
        position: relative;
        margin-bottom: var(--mb-1);
    }
    .info__title:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100px;
        height: 3.5px;
        background: var(--purple-color);
        border-radius: 100px;
    }
    .info__title h3 {
        color: var(--purple-color);
    }
    .about__info--item ul li{
        display: inline-block;
        font-size: var(--small-font-size);
        margin-right: .5rem;
        color: var(--gray-color);
    }
    .about__info--item span {
        color: var(--gray-color-light);
        font-size: .7rem;
    }
    /* ========================= skills section ========================= */
    .skills {
        position: relative;
    }
    .skills.inner {
        padding-top: 8rem;
    }
    .skills .section__title {
        position: relative;
        display: inline-block;
    }
    .skills .section__title::before {
        content: '';
        width: 120px;
        height: 25px;
        position: absolute;
        bottom: 0;
        left: -12px;
        background: var(--purple-color);
        z-index: -1;
        opacity: .5;
    }
    .skills .section__subtitle {
        font-size: var(--mediem-font-size);
    }
    .skills__container {
        flex-wrap: wrap;
        width: 80%;
        margin: 100px auto;
    }
    .skills__item {
        position: relative;
        width: 25%;
        margin-bottom: 1.8%;
        visibility: hidden;
        transition: .9s;
        cursor: pointer;
    }
    .skills__item:after {
        content: '';
        display: block;
        padding-bottom: 80%;
    }
    .skills__item:nth-of-type(7n+5) {
        margin-left: 12.5%;
    }
    .skills__item--inner {
        position: absolute;
        width: 99%;
        padding-bottom: 114.6%;
        overflow: hidden;
        visibility: hidden;
        transform: rotate3d(0,0,1,-60deg) skewY(30deg);
    }
    .skills__item--inner * {
        position: absolute;
        visibility: visible;
    }
    .content {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transform: skewY(-30deg) rotate3d(0,0,1,60deg);
    }
    .content h1 {
        text-align: center;
        color: var(--white-color);
    }
    .first {
        background: var(--pink-color);
    }
    .second {
        background: var(--yellow-color);
    }
    .third {
        background: var(--green-color);
    }
    .fourth {
        background: var(--blue-color);
    }
    .fifth {
        background: var(--blue-color);
    }
    .sixth {
        background: #aaa5d2;
    }
    .seventh {
        background: var(--pink-color);
    }
    @keyframes point {
        0% {
            transform: skewY(-30deg);
            width: 10%;
        }
        50% {
            transform: skewY(20deg);
            width: 15%;

        }
        100% {
            transform: skewY(30deg);

        }
    }
    /* ========================= portfolio section ========================= */
    /* ---------- graphic works ---------- */
    .portfolio {
        position: relative;
        text-align: center;
    }
    .portfolio.inner {
        padding-top: 8rem;
    }
    .portfolio .section__title {
        font-size: var(--big-font-size);
    }
    .portfolio .section__subtitle {
        font-size: var(--normal-font-size);
        margin-bottom: var(--mb-1-5);
    }
    .works__content {
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin-bottom: var(--mb-5);
    }
    .works__item {
        display: flex;
        justify-content: center;
        align-items:center;
        flex-direction: column;
        height: 200px;
        width: 33.3333%;
        margin: 0 10px;
        margin: 0 10px var(--mb-2-5) 10px;
        padding: 2rem;
        transition: .8s;
        overflow: hidden;
        cursor: pointer;
    }
    .works__item:hover {
        transform: scale(1.1); 
    }
    .works__item:nth-child(odd) {
        border-radius: 50% 50% 0 0;
    }
    .works__item:nth-child(even) {
        border-radius: 0% 0% 45% 45%;
    }
    .works__item:nth-child(1) {
        border: 10px solid var(--blue-color);
    }
    .works__item:nth-child(1):hover .works__item-button {
        background: var(--blue-color);
    }
    .works__item:nth-child(2) {
        border: 10px solid var(--yellow-color);
    }
    .works__item:nth-child(2):hover .works__item-button {
        background: var(--yellow-color);
    }
    .works__item:nth-child(3) {
        border: 10px solid var(--green-color);
    }
    .works__item:nth-child(3):hover .works__item-button {
        background: var(--green-color);
    }
    .works__item:nth-child(4) {
        border: 10px solid var(--pink-color);
    }
    .works__item:nth-child(4):hover .works__item-button {
        background: var(--pink-color);
    }
    .works__item:nth-child(5) {
        border: 10px solid var(--purple-color);
    }
    .works__item:nth-child(5):hover .works__item-button {
        background: var(--purple-color);
    }
    .works__item:last-child {
        margin-right: 0;
    }
    .works__item img {
       display: none;
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       object-fit: cover;
       z-index: -1;
    }
    .works__item:hover img {
        display: inline-block;
        filter: brightness(75%); 
    }
    .works__item h1 {
        font-size: var(--normal-font-size);
    }
    .works__item:hover h1 {
        display: none;
    }
    .works__item h2 {
        display: none;
        width: 150px;
    }
    .works__item h2 span {
        font-size: .5rem;
    }
    .works__item:hover h2 {
        display: inline-block;
        font-size: var(--medium-font-size);
        color: var(--white-color);
        margin-top: 4rem;
    }
    .works__item-button {
        display: none;
        width: 45px;
        height: 45px;
        margin-top: 1.5rem;
        line-height: 45px;
        border-radius: 50%;
        color: var(--black-color);
        font-weight: var(--font-medium);
        font-size: .5rem;
    }
    .works__item:hover .works__item-button {
        display: inline-block;
        margin-top: 2rem;
        color: var(--white-color);
    }
    .works__modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: var(--z-modal);
        background: rgba(0,0,0,0.2);
        display: none;
    }
    .works__modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 100%;
        padding: 1rem;
        overflow-y: scroll;
        background: var(--white-color);
        border-radius: .5rem;
    }
    /* ---------- gallery ---------- */
    .gallery {
        max-width: 768px;
        margin: 0 auto;
        margin-bottom: var(--mb-5);
    }
    .gallery:after {
        content: '';
        display: table;
    }
    .gallery-light--img {
        width: 230px;
        height: 200px;
    }
    .l_row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px -20px -10px;
    }
    .l_col {
        box-sizing: border-box;
        padding: 0 10px;
        margin-bottom: 20px;
        cursor: pointer;
    }
    .img__wrap img {
        transition: .5s;
    }
    .l_col:hover img {
        transform: scale(1.1);
    }

    .img__wrap {
        height: 100%;
        overflow: hidden;
        box-shadow: 1px 1px 5px var(--gray-color-light);
    }
    .img__wrap img {
        width: 100%;
        height: 100%;
    }
    /* ---------- web works ---------- */
    .slider__content {
        padding: 2rem 2.3rem;
        display: flex;
        height: 350px;
    }
    .slick__button {
        color: var(--black-color);
        position: relative;
        border-radius: 50px;
        transition: .5s;
        font-weight: bold;
        border: 3px solid var(--gray-color);
    }
    .slick__button:hover {
       background: rgba(0, 0, 0, .1);
    }
    .slider__img {
        flex: 1;
    }
    .slider__desc {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
    }
    .slider__desc p {
        margin: 1rem 0;
    }
    .slider__buttons {
        display: flex;
        justify-content: center;
    }
    .slick__button:first-child {
        margin-right: var(--mb-1);
    }
    /* arrow */
    .slick-prev,
    .slick-next
    {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        font-size: 0;
        border: none;
        background: transparent;
        cursor: pointer;
    }
    .slick-prev {
        left: -2rem;
    }
    .slick-next {
        right: -2rem;
    }
    .slick-prev:after,
    .slick-next:after{
        font-size: 2rem;
        font-weight: bold;
        color: var(--gray-color);
    }
    .slick-prev:after,
    .slick-next:after{
        font-family: unicons-line;
    }
    .slick-prev:after {
        content: '\ec49';
    }
    .slick-next:after {
        content: '\eb9f';
    }
    .slick-dots {
        display: flex;
        justify-content: center;
        position: relative;
        padding-bottom: .5rem;
        cursor: pointer;
    }
    .slick-dots li.slick-active button {
        background: var(--blue-color);
    }
    .slick-dots li {
        margin-right: .5rem;
    }
    .slick-dots li button {
        background: var(--gray-color-light);
        width: 15px;
        height: 15px;
        border-radius: 50%;
        font-size: 0;
        border: none;
        cursor: pointer;
    }
    /* ========================= contact section ========================= */
    .contact .section__title {
        color: var(--gray-color);
    }
    .contact__desc--wrap {
        text-align: center;
        border-radius: 80px;
        box-shadow: 1px 1px 10px var(--blue-color);
        transition: .5s;
    }
    .contact__img {
        display: inline-block;
        margin-top: 1rem;
        animation: contact 2s linear infinite alternate;
    }
    .contact__img img {
        width: 100px;
    }
    .contact__desc {
        padding: 1.5rem 1.5rem;
    }
    .contact__info--para {
        display: inline-block;
        padding-bottom: 1rem;
        font-size: var(--normal-font-size);
        border-bottom: 8px dotted var(--blue-color);
        color: var(--black-color);
    }
    .content__item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.5rem 1.5rem;
    }
    .content__item a {
        display: inline-block;
        width: 80px;
        height: 75px;
        margin-right: 10px;
        padding-top: 1rem;
        line-height: 20px;
        text-align: center;
        font-size: var(--small-font-size);
        color: var(--blue-color);
        border-radius: 50%;
        box-shadow: 1px 1px 5px var(--gray-color-light);
        transition: .3s;
    }
    .content__item a:hover {
        transform: scale(1.1);
        background: var(--blue-color);
        color: var(--white-color);
    }
    @keyframes contact {
        0% {
            transform: rotate(10deg);
        }
        50% {
            transform: rotate(35deg);
        }
        100% {
            transform: rotate(10deg);
        }
    }
    /* ========================= scroll up ========================= */
    .scrollup {
        position: fixed;
        right: 1rem;
        bottom: -2.3rem;
        padding: .3rem .5rem;
        background-color: var(--blue-color);
        border-radius: 50%;
        transition: .4s;
        opacity: .8;
        z-index: var(--z-tooltip);
    }
    .scrollup__icon {
        font-size: 1rem;
        color: var(--white-color);
    }
    .scrollup.visible {
        bottom: 5rem;
    }
    /* ========================= footer ========================= */
    .footer {
        padding: 1rem 0;
        color: var(--black-color);
    }
    .footer__logo {
        text-align: center;
    }
    .footer__logo--img {
        width: 50px;
    }
    .footer__copy {
        margin-top: 1rem;
        text-align: center;
        font-weight: var(--font-medium);
    }